* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #688376;
   /*background: url('');*/
   /*background: linear-gradient(  hsl(162, 23%, 89%) , hsl(160, 28%, 58%), hsl(180, 78%, 23%));
   /*background: linear-gradient(to bottom , #3f87a6, #cdf0ff);*/
   overflow: hidden;
   background-repeat: no-repeat;

}

header {
    position: fixed;
    top: 0;
    left: 0;      
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 1000; /* Certifique-se de que o valor é maior que o z-index dos cards */
}

header:hover::before {
    left: 100%;
}




.logo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    filter: drop-shadow(1px 1px 20px rgb(255, 255, 255));
   /* background-image: url('../fotos/fundo_site.png');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

#menu-icon {
    font-size: 36px;
    color: rgb(79, 143, 196);
    display: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;    
        padding: .5rem 4%;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: fixed;
        top: 11.8%;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}

.loG {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: linear-gradient(#46b18d, #ffffff);
}

.aneis {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 3px;
}

.aneis .anel {
    position: absolute;
    border: 2px solid #3af180;
    border-radius: 50%;
}

.aneis .anel:nth-of-type(1) {
    width: 100%;
    height: 100%;
    border: 3px solid #20be7d;
    animation: anel-1 1.5s linear infinite;
}

.aneis .anel:nth-of-type(2) {
    width: calc(100% * .65);
    height: calc(100% * .65);
    border: 2px solid #3cf59f;
    animation: anel-2 1.5s linear infinite;
}

.aneis .anel:nth-of-type(3) {
    width: calc(100% * .1);
    height: calc(100% * .1);
    border: 2px solid #00ff62;
    animation: anel-3 1.5s linear infinite;
}

@keyframes anel-1 {
    0% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(100deg) rotateY(360deg);
    }
}

@keyframes anel-2 {
    0% {
        transform: rotateZ(100deg);
    }
    100% {
        transform: rotateZ(0deg) rotateY(360deg);
    }
}

@keyframes anel-3 {
    0% {
        transform: rotateZ(100deg) rotateX(-360deg);
    }
    100% {
        transform: rotateZ(-100deg) rotateX(360deg);
    }
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 80px; /* Ajuste o valor conforme a altura do header */
}

.container-1 .card {
    width: 300px;
    height: 300px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    margin: 50px;
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 30px;
}

.container-1 .card .content {
    position: relative;
    padding: 20px;
    text-align: center;
    transition: .5s;
    transform: translateY(100px);
    opacity: 0;
}

.container-1 .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container-1 .card .content span {
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 8rem;
    color: rgba(98, 102, 101, 0.671);
    pointer-events: none;
}

.container-1 .card .content h3 {
    font-size: 1.8rem;
    color: #000000a4;
    z-index: 1;
}

.container-1 .card .content p {
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    margin: 15px 0;
}

.container-1 .card .content a {
    padding: 8px 20px;
    background: #fff;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
            



.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0 auto;
    margin-top: 80px;


  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 0, 0);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(73, 168, 124);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(47, 161, 255);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
  a{
    text-decoration: none;
    justify-content: center;
  }




  /* From Uiverse.io by vinodjangid07 */ 
.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .truckWrapper {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    overflow-x: hidden;
  }
  /* truck upper body */
  .truckBody {
    width: 130px;
    height: fit-content;
    margin-bottom: 6px;
    animation: motion 1s linear infinite;
  }
  /* truck suspension animation*/
  @keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  /* truck's tires */
  .truckTires {
    width: 130px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: absolute;
    bottom: 0;
  }
  .truckTires svg {
    width: 24px;
  }
  
  .road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;
  }
  .road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 10px solid rgb(255, 255, 255);
  }
  .road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 4px solid white;
  }
  
  .lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 1.4s linear infinite;
  }
  
  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-350px);
    }
  }
  

.trans{
  color: #53b385;
  font-size: 40px;

}

.branco{
  color: aquamarine;
}


.pf{
  color: #000;
  background-color: #000;
  border: #000 2px solid;
  border-radius: 9px;
}



